<div class="object">
    <div class="flex">
        <img class="imgname" src="../assets/img.jpg" height="100px" width="100px">
        <!-- <div class="imgname"></div> -->


        <div>
            <h1>DIVYATAMIL</h1>
            <P>Software developer - In Asminds<br>
                since 2months as a traineer<br>
                using Angular developing the project<br>
                chennai(IND 2)<br>
                Local Time:wednesday,08:09:20PM<br>
                phone:9962795751.</P><br>
            <p>Software developer with good skills on Angular</p>
        </div>
    </div>

    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"> -->
    <!-- <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/> -->
    <!-- </svg> -->
    <div>
        <ul>
            <li>
                <select name="demo" id="#">
                    <option selected="selected.one" value="one">General information</option>
                    <option value="two"></option>
                    <option value="three">option </option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">Personal information</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">career</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">Employment information</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">Times off information</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">total rewards</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>
            <li>
                <select name="demo" id="#">
                    <option selected="selected" value="one">Bank deatils</option>
                    <option value="two">option 2</option>
                    <option value="three">option 3</option>
                </select>
            </li>

            <ul>
            </ul>