<!-- <button (click)="delete()">delete</button>
<button (clcik)="back()">Back</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">
            <div *ngFor="let value of values;let i=index">
                <input type="checkbox" name="selector" value="{{value:ckeck(i)}}">
            </div>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
            <input type="checkbox">
        </th>
        <td>dorcas</td>
        <td>software dev</td>
        <td>20</td>
        <td>
            <button (click)="remove()">delete</button>
        </td>
      </tr> 
       <tr>
        <th>
            <input type="checkbox">
        </th>
        <td>winsiya</td>
        <td>HR</td>
        <td>22</td>
        <td>
            <button (click)="remove()">delete</button>
        </td>
      </tr>
      <tr>
        <th>
            <input type="checkbox">
        </th>
        <td>grace</td>
        <td>Tester</td>
        <td>23</td>
        <td>
            <button (click)="remove()">delete</button>
        </td>
      </tr>
      <tr>
        <th>
            <input type="checkbox">
        </th>
        <td>josh</td>
        <td>software dev</td>
        <td>20</td>
        <td>
            <button (click)="remove()">delete</button>
        </td>
      </tr> -->
    <!-- </tbody> -->
  <!-- </table> -->
 