
<div align="center">
   <div class="card border-dark  " style="width: 40rem;">
      <div class="card-header text-white btn-aspen-black">EMS Login</div>
      <div class="card-body">
         <h5 class="card-title">EMS</h5>
         <p class="card-text">
         <!-- <div>
            User Role <span style="color:#FF0000">*</span>
            <br>
            <select style="width:43%;">
               <option value="">Select Role</option>
               <option *ngFor="let designation of userRoleList">{{designation}}</option>
             </select>
            <br><br>
            Admin/User Id <span style="color:#FF0000">*</span>
            <br> <input type="text" name="userId"  >
            <br>
            Password <span style="color:#FF0000">*</span>
            <br><input type="password" name="password" >
            <br>
            <br>
            <button  class="btn-aspen-orange">
               Login
            </button>
         </div> -->
         <form [formGroup] ="loginform" (ngSubmit)="onSubmit()">

           <input type="text" placeholder="name" formontrolName="username">
           <div *ngIf="loginform.get('username').errors">
             <span *ngIf="loginform.get('username').error['minlength']">Minimum length is 5</span>
             <span *ngIf="loginform.get('username').touched && loginform.get('username').error['required']">This fiel is required</span>
             </div>
           <input type="password" placeholder="password" formControlName="password">
           <div *ngIf="loginform.get('password').errors">
            <span *ngIf="loginform.get('password').error['minlength']">Minimum length is 5</span>
            <span *ngIf="loginform.get('password').touched && loginform.get('username').error['required']">This fiel is required</span>
           <button (click)="submit()" [disabled]="!loginform.value"></button>
           </div>
         <br>
      </form>
   </div>

 <div>
</div>
