.card {
    width: 920px;
    margin-left: 260px;
    // margin-top: 50px;
    margin-right: 200px;
    
    
  }
  .cardcont1{
    width: 500px;
    margin-left: 200px;
  }
  .cardcont{
    width: 500px;
    margin-left: 10px;
  }
  .flexgencon{
    display: flex;
    margin-top: 50px;
  }
  .userinfo{
    margin-left: 50px;
    margin-top: 50px;
    

  }

  .btn {
      align-items: center;
      margin-left: 700px;
  }

.navbar1{
    
    background-color: rgb(280, 100, 0);
    height: 30px;
    padding: 10px;
    color: white;
    margin-top: 50px;
    
}
.geninfo{
    margin-left: 40px;
}

td,tr{
    padding: 7px;
}
.back{
    background: url(C:\Users\HP\OneDrive\Desktop\Image\nature1.jpg)no-repeat center/cover;  max-height: 460px; 
   
}

.imgname{
    border-radius: 200px;
    padding: 50px;
    margin-top: 40px;
    margin-left: 10px;
}
#flex{
    display: flex;
    
}
.para{
    margin-top: 150px;
    height: 50%;
    color: white;
   
}
.mail{
    color:rgb(151, 71, 230) ;
}
.para2{
    margin-top: 120px;
    height: 50%;
    margin-left: 50px;
    color:white;
}
#flexhicon{
    display: flex;
}
.iconh{
    margin: 20px;
}
.mayur{
    margin-top: 30px;
}
.manager{
    margin-left: 2px;
}
