<!-- <mat-card>Simple card</mat-card> -->

<div class="back" >
  <div id="flex" ><img  class="imgname"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkVNzIiLnErPad3qJZdipkTd18hdhfPgpzXg&usqp=CAU" height="300px " width="300px"  >
  <div class="para">
  <p><b>Yogarani B</b></p>
  <p>Senior Engineer-Product and Platform Engineering<br>
  (INPS13250)<br>
  Product and Platform Engineering (PPENG), Product<br>
and Platform (PROD&PLATFORM)</p>
  <p>chennai(IND-2)(Asia/kolkata)</p>
  <p>Local time:Tuesday,04:08:40 PM</p>
  <p>Business Phone:(91)7904832653</p>
  <p class="mail">byogarani@altimetrik.com</p>
  </div>

  <div class="para2">
    <p>Senior Software Developer with good hands on</p>
    <p>experience on JAVA and ANGULAR</p>
  </div>
</div>
  

  

<!-- nav bar -->


        <nav class="navbar1"> 
          <div class="geninfo">
            <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      </div>
      </nav>

        <!--    -->
        <div class="flexgencon">
        <div class="userinfo">UserInfo</div>
        
         
           
        <mat-card class="cardcont1">
          
          <mat-card-content >
        <h1>Basic Informtion</h1><hr>
        <table id="tab" >
           <tr>
              <td colspan="8" >First Name</td>
              <td>Yogarani</td>
             </tr>
             <tr>
              <td colspan="8">Middle Name</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Last Name</td>
              <td>B</td>
             </tr>
             <tr>
              <td colspan="8">User Name</td>
              <td>byogarani</td>
             </tr>
             <tr>
              <td colspan="8">Employee Id</td>
              <td>A1PL15242</td>
             </tr>
             <tr>
              <td colspan="8">Title</td>
              <td>Senior Engineer - Product and Platform Engineer (INRS13250) </td>
             </tr>
             <tr>
              <td colspan="8">Capability Center</td>
              <td>Product and Platform(PROD&PLATFORM</td>
             </tr>
             <tr>
              <td colspan="8">Job Family</td>
              <td>Product and Platform Engineering(PPENG)</td>
             </tr>
             <div id="flexhicon"><img class="iconh" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuoIIn5RF8nmthtqg0mmMjZ9Q0jd2rl9XA-A&usqp=CAU" height="50px" >
           
         <div>
          <p class="mayur">Mayur Bafna </p>
          <p class="manager">Manager</p>
          </div>
        </div>
          </table>
        
            </mat-card-content>
          </mat-card><br>
          
<!--card contact info in gen-->
         
          <mat-card class="cardcont">
            <mat-card-content>
          <h1>Contact Information</h1><hr>
          <table id="tab" >
             <tr>
                <td colspan="8" >Address Line 1</td>
                <td>Ascendas International Tech Park</td>
               </tr>
               <tr>
                <td colspan="8">Address Line 2</td>
                <td>Phase 2 - Crest,4th Floor,CSIR Road,Taramani.</td>
               </tr>
               <tr>
                <td colspan="8">City</td>
                <td>Chennai</td>
               </tr>
               <tr>
                <td colspan="8">ZIP</td>
                <td>600113</td>
               </tr>
               <tr>
                <td colspan="8">Location</td>
                <td>Chennai(IND-2)</td>
               </tr>
               <tr>
                <td colspan="8">Business Phone</td>
                <td>(91) 790482653</td>
               </tr>
               <tr>
                <td colspan="8">Email</td>
                <td>byogarani@altimetrik.com</td>
               </tr>
              
            </table>
          
              </mat-card-content>
            </mat-card>
            </div><br>
            
            

          <button class="btn" mat-raised-button>Show Less</button> <br><br>
        


<!-- card -->
  <mat-card class="card">
    <mat-card-header class="card-header"> 
        
        <mat-card-title>Global Information</mat-card-title>
        
      </mat-card-header>
      <mat-card-content>


      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyVyASaY_E656wCWXSuE_5XV3aKs78cEUewQ&usqp=CAU" height="35px" width="35px">
     
      
        <table id="tab" >
          <tr>
            <td  >India</td>
           </tr>
            <tr>
              <td colspan="8" >Name of Father</td>
              <td>Balachandran</td>
             </tr>
             <tr>
              <td colspan="8">Date Learned</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Challenge Group</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Degree of Challenge</td>
              <td>0</td>
             </tr>
             <tr>
              <td colspan="8">Type of Challenge</td>
              <td>0</td>
             </tr>
             <tr>
              <td colspan="8">Issuing Authority</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Reference Number</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Relegion</td>
              <td>-</td>
             </tr>
             <tr>
              <td colspan="8">Blood Group</td>
              <td>-</td>
             </tr>

        </table>

      </mat-card-content>
</mat-card>
<br>
<button class="btn" mat-raised-button>Show Less</button> 


<!--card2-->

</div>



    